/venv
/venv_382
/venv_ub
/test
/Toyota_Smarthome/pipline/data/TSU_RGB_i3d_feat
/Toyota_Smarthome/pipline/data/TSU_3DPose_AGCN_feat
/data
.ipynb_checkpoints
.DS_Store
/video_withcaptions/*|
/STEP-master/pretrained
/video_features